<!-- Payment Confirmation Modal -->
<div class="modal fade" id="paymentConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="paymentConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentConfirmationModalLabel">Confirm Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="paymentConfirmationForm" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" id="ticketId" name="ticket_id">
                    <input type="hidden" id="branchId" name="branch_id">
                    <div class="form-group">
                        <label for="amount">Amount to Pay</label>
                        <input type="text" class="form-control" id="amount" name="amount" readonly>
                    </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="paymentConfirmationForm" class="btn btn-primary">Confirm Payment</button>
            </div>
        </div>
    </div>
</div>