# Python-specific ignores
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.env

# Virtual environment
env/
venv/

# Database files
*.db
db.json

proof_of_payments/

# Node modules (if applicable)
node_modules/

# Distribution files
dist/

# IDE-specific ignores (e.g., VS Code, PyCharm)
.vscode/
.idea/


echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyd" >> .gitignore
echo "*.pdb" >> .gitignore
echo ".env" >> .gitignore
echo "env/" >> .gitignore
echo "venv/" >> .gitignore
echo "*.db" >> .gitignore
echo "db.json" >> .gitignore
echo "static/" >> .gitignore
echo "node_modules/" >> .gitignore
echo "dist/" >> .gitignore
echo ".vscode/" >> .gitignore
echo ".idea/" >> .gitignore
echo "proof_of_payments/" >> .gitignore